.post {
  display: flex;
  margin: 50px 0 10px ;
  width: 70%;
  align-items: center;
  justify-content: start;
  border: 1px solid;
  border-color: #3582d4;
  border-radius: 5px;
  padding: 0 20px 5px 20px;
}
.tex {
  display: flex;
  
  position: absolute;
  width: 70%;
  padding: 0px 20px 0 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.tu {
  //padding: 0px;
}
.body {
  display: flex;
  height: 5%;
  margin: 0 0 0px;
  //width: 100%;
  align-item: center;
  //align-content: center;
  padding: 0 0 0 0%;
  justify-content: center;
}
.card {
  margin: 0 0 0px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  //background: lightgreen;
}
.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  //width: 100%;
  margin: 0px;
  height: 50px;
  //background: lightblue;
}
.scaff {
  display: list-item;
  // flex-direction: column;
  //align-content: center;
  margin: 0px;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  //background: linear-gradient(to bottom right, red, yellow);
  background-image: pink;
  //background-image: linear-gradient(to right, blue, lightblue); //white;
}
.text {
  //display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 0 0px 0 0;
  //position: relative;
}
.title {
  display: flex;
  align-items: center;
  justify-content: start;
}
.heart {
  //display: flex;
  //position: relative;
  margin: 0 0 0 10px;
  height: 16pt;
  width: 10pt;
  background: pink;
  border-radius: 200px 200px 0 0;
  transform: rotate(45deg);
}
.heart::before {
  content: "";
  position: absolute;
  height: 16pt;
  width: 10pt;
  background: #4fc1e9;
  border-radius: 100px 100px 0 0;
  transform: rotate(-90deg) 
  translate(-4.24px, -4px);
  /*
    equation:
    h^2=((height-width)^2)*2
    h-5.4%
  */
    
  /*left: -4px;
  top: 4px;*/
}
.date {
  color: #4f94d4;
  font-weight: bold;
  text-transform: uppercase;
  font-family: roboto;
  //border-left: 5px solid grey;
}
.brand {
  display: flex;
  padding: 40px 0 0 20px;
  //width: 100%;
  //top: 100px;
  
  margin: -24px 0 -24px 0;
}
.footer {
  height: 20px;
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
#t {
  color: white;
  font-family: "roboto";
}
.s {
  padding-left: 50px;
  valign: Top;
}
.box1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
}
.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 2%;
  height: 2%;
  //background: black;
  //border: 2px solid black;
  padding: 0 0 10px;
  margin: 0 0 0px;
}
@keyframes moveup {
  0% {top: -10px;}
 // 50% {top: -10px;}
  100% {top: 10px;}
}
@keyframes movedown {
  0% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg) scale(1, 1);
  }
  100% {
    top: 225px;
    left: 293px;
    transform: rotate(90deg) scale(1.5,1.5);
  }
}
@keyframes md {
  0% {
    top: 170px;
    left: 293px;
    transform: rotate(90deg) scale(1.5,1.5);
  }
  100% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg) scale(1, 1);
  }
}
@keyframes bounce{
  0% {
    transform: rotate(0deg) 
    translateY(0px)
    translateX(0px);
  }
  25% {
    transform: rotate(10deg) 
    translateY(-2px)
    translateX(2px);
  }
  50% {
    transform: rotate(5deg) 
    translateY(-1px)
    translateX(1px);
  }
  75% {
    transform: rotate(10deg) 
    translateY(-2px)
    translateX(2px);
  }
  100% {
    transform: rotate(0deg) 
    translateY(0px)
    translateX(0px);
  }
}
.square {
  position: relative;
  width: 10px;
  height: 10px;
  background: white;
  top: 0px;
  transform: rotate(45deg);
  animation: moveup 0.7s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}
.square1 {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  top: 0px;
  background: red;
}  
.box3 {
  display: flex;
  z-index: 1;
  margin: 15px 0 0px 0;
  align-items: center;
  justify-content: center;
  padding: 0 15% 0 15%;
  height: 150px;
  //background: lightgreen;
}
.box4 {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 300px;
 // width: 100%;
}
.view {
  display: flex;
  z-index: 1;
  //flex-shrink: 0;
 // flex-direction: row;
  /*animation: translate 1.5s alternate;
  animation-iteration-count: 3;*/
  
  //animation-delay: 3s;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.view1 {
  display: flex;
  z-index: 1;
 // flex-shrink: 0;
 // flex-direction: row;
  //animation: translate2 2s alternate;
  //animation-iteration-count: 3;
  
  //animation-delay: 3s;
  justify-content: center;
  align-items: center;
  width: 700px;
  //height: 300px;
  height: 0px;
  //overflow: hidden;
}
@keyframes translate {
  from {
   // transform: translateX(350px);
    border-radius: 100%;
    width: 0;
    height: 0;
  }
  to{
    //transform: translateX(0px);
    border-radius: 0%;
    width: 300px;
    height: 300px;
  }
}
@keyframes translate2 {
  0%{
    width: 0px;
  }
  100%{
    width: 600px;
  }
}
@keyframes slide2 {
  0%{
    visibility: hidden;
    right: 125px;
    width: 0;
    height: 0;
  }
  100%{
    visibility: visible;
    right: 0;
    width: 250px;
    height: 250px;
  }
}
@keyframes slide3 {
  0%{
    visibility: hidden;
    left: 125px;
    width: 0;
    height: 0;
  }
  100%{
    visibility: visible;
    left: 0;
    width: 250px;
    height: 250px;
  }
}
@keyframes shrink {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}
@keyframes bubble {
  0% {
    transform: scale(1,1);
  }
  25% {
    transform: scale(1.4,1.4);
  }
  50% {
    transform: scale(1.1,1.1);
  }
  75% {
    transform: scale(1.3,1.3);
  }
  100% {
    transform: scale(1.2,1.2);
  }
}
.fill {
  position: relative;
  background: white;
  opacity: 50%;
  border-radius: 10%;
  width: 90%;
  height: 90%;
  //box-shadow: 10px 20px black;
}
.fill1 {
  position: relative;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  border-radius: 100%;
  //left: 50px;
  margin-left: -50px;
  margin-right: -50px;
  /*
  right: 0
  visibility: visible;
  width: 250px;
  height: 250px;
  */
  right: 125px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.fill2 {
  display: flex;
  position: relative;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  border-radius: 100%;
  margin-left: -50px;
  margin-right: -50px;
  /*
  left: 0px;
  visibility: visible;
  width: 250px;
  height: 250px;
  */
  left: 125px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.aniFill {
  animation: slide2 2s alternate;
  //animation-iteration-count: 3;
  //animation-delay: 2s;
}
.selection {
  display: flex;
  flex-shrink: 0;
 // overflow: scroll;
  justify-content: center;
  align-items: center;
  
  //animation: translate2 1s;
  position: relative;
  border-radius: 50%;
  border: 1px solid white;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px white;
  
 // background: rgba(255,255,255, 0.5);
}
.selection1 {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  //position: relative;
  background: rgba(255,255,255,0.5);
 // border: 1px solid white;
 // box-shadow: 0 0 20px white;
  border-radius: 10px;
  //width: 600px;
  width: 0px;
  height: 120px;
  
  //animation: translate2 2s alternate;
  //animation-iteration-count: 3;
}
.width {
  width: 0px;
  height: 0;
  visibility: hidden;
}
.icon {
  margin: 0px 0 0 0;
  position: relative;
  top: -15px;
  left: -5px;
}
.b {
  height: 50px;
  width: 90px;
  padding: 0px;
  background: #4fc1e9;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  color: white;  
}
.back {
  background: lighgreen;
}
#quote {
  font-family: roboto;
  padding-left: 5px;
  color: white;
  border-left: 5px solid #3582d4;
  border-radius: 2px;
}
