:root {
  --header-h: 60px;
  --header-pad: 20px;
  --arrow-h: 50px;
  --section-pad: 20px;
  --header-offset: calc(var(--header-h) + calc(var(--header-pad) * 2));
  --arrow-offset: calc(var(--arrow-h) + calc(var(--section-pad) * 2));
  --section-h: calc(calc(100dvh - var(--arrow-offset)) - var(--header-offset));
  --square-count: 5;
  --square-gap: 20px;
}

* {
  font-family: roboto;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  background: hsl(205, 80%, 60%);
  overflow: hidden;
}

section,
header,
.row {
  display: flex;
}

header {
  height: var(--header-h);
  padding: var(--header-pad) 40px;
}

mark {
  font-family: Courier New;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 100%);
  background: hsla(0, 0%, 100%, 0.2);
  color: hsl(0, 0%, 100%);
  padding: 0 5px 0 5px;
}

.heart {
  margin-left: 10px;
  height: 16pt;
  width: 10pt;
  background: pink;
  border-radius: 200px 200px 0 0;
  transform: rotate(45deg);
}

.heart::before {
  content: "";
  position: absolute;
  height: 16pt;
  width: 10pt;
  background: #4fc1e9;
  border-radius: 100px 100px 0 0;
  transform: rotate(-90deg) translate(-4.24px, -4px);
}

.row {
  display: flex;
  width: -webkit-fill-available;
}

.brand {
  display: flex;
  padding: 40px 0 0 20px;
  margin: -24px 0 -24px 0;
}

@keyframes moveup {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes bounce {
  0% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
  25% {
    transform: rotate(10deg) translateY(-2px) translateX(2px);
  }
  50% {
    transform: rotate(5deg) translateY(-1px) translateX(1px);
  }
  75% {
    transform: rotate(10deg) translateY(-2px) translateX(2px);
  }
  100% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
  }
}

#animated-dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  rotate: 45deg;
  transition: rotate 0.5s;
  animation: moveup 0.7s alternate-reverse infinite ease;
}
#animated-dot-button {
  border: 1px solid hsl(0, 0%, 100%);
  background: hsl(0, 0%, 100%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--arrow-h);
}
h1 {
  margin: 0;
}
blockquote {
  border-left: 3px solid hsl(205, 80%, 40%);
  padding-left: 10px;
  margin-left: 0px;
}

section {
  justify-content: center;
  margin: 0px 10%;
  padding: var(--section-pad);
  width: -webkit-fill-available;
}

#first,
#second {
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  max-height: var(--section-h);
}
#first.hidden,
#second.hidden {
  max-height: 0px;
}

#first {
  transition: max-height 0.5s;
  overflow: hidden;
  gap: 20px;
}
.border-box {
  border: 1px solid hsl(205, 80%, 60%);
  border-radius: 10px;
}
#presentation {
  display: flex;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: space-between;
}

.square-container {
  display: flex;
  justify-content: center;
  gap: var(--square-gap);
}

.square {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  transition: top 0.5s, left 0.5s, scale 0.5s, rotate 0.5s;
  border-radius: 40%;
  background: red;
  rotate: 0deg;
  transform-origin: center;
  --w: calc(100dvw - calc(var(--square-gap) * calc(var(--square-count) + 1)));
  --size: min(calc(var(--w) / var(--square-count)), 60px);
  height: var(--size);
  width: var(--size);
  flex-shrink: 0;
}

@keyframes bubble {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.4, 1.4);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

.icon {
  margin: 0px;
  position: relative;
  top: -15px;
  left: -5px;
}

button {
  height: 50px;
  width: 90px;
  padding: 0px;
  background: #4fc1e9;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#buttons > button {
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  font-size: 20px;
  width: fit-content;
}

#color-button {
  margin-right: 100px;
}
