* {
  font-family: roboto;
  color: white;
}
html, body{
  height: 100%;
  margin: 0;
}
kbd {
  font-family: Courier New;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 100%);
  background: hsla(0, 0%, 100%, 0.2);
  color: hsl(0,0%,100%);
  padding: 0 5px 0 5px;
}
.post {
  display: flex;
  margin: 50px 0 10px ;
  width: 70%;
  align-items: center;
  justify-content: start;
  border: 1px solid;
  border-color: #3582d4;
  border-radius: 5px;
  padding: 0 20px 5px 20px;
}
.tex {
  display: flex;
  position: absolute;
  width: 70%;
  padding: 0px 20px 0 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.body {
  display: flex;
  height: 5%;
  margin: 0 0 0px;
  align-item: center;
  padding: 0 0 0 0%;
  justify-content: center;
}
.card {
  margin: 0 0 0px 0px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 50px;
}
.scaff {
  display: list-item;
  margin: 0px;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  /*height: 100%;
  background: hsl(200, 50%, 50%);*/
  background-image: linear-gradient(red, yellow);
  background-size: cover;
}
.text {
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 0 0px 0 0;
}
.title {
  display: flex;
  align-items: center;
  justify-content: start;
}
.heart {
  margin: 0 0 0 10px;
  height: 16pt;
  width: 10pt;
  background: pink;
  border-radius: 200px 200px 0 0;
  transform: rotate(45deg);
}
.heart::before {
  content: "";
  position: absolute;
  height: 16pt;
  width: 10pt;
  background: #4fc1e9;
  border-radius: 100px 100px 0 0;
  transform: rotate(-90deg) 
  translate(-4.24px, -4px);
  /*
    equation:
    h^2=((height-width)^2)*2
    h-5.4%
  */
    
  /*left: -4px;
  top: 4px;*/
}
.date {
  color: hsl(205, 80%, 60%);
  font-weight: bold;
  text-transform: uppercase;
}
.brand {
  display: flex;
  padding: 40px 0 0 20px;
  margin: -24px 0 -24px 0;
}

.box1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
}
.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2%;
  padding: 0 0 10px;
  margin: 0 0 0px;
}
@keyframes moveup {
  0% {top: -10px;}
  100% {top: 10px;}
}
@keyframes bounce{
  0% {
    transform: rotate(0deg) 
    translateY(0px)
    translateX(0px);
  }
  25% {
    transform: rotate(10deg) 
    translateY(-2px)
    translateX(2px);
  }
  50% {
    transform: rotate(5deg) 
    translateY(-1px)
    translateX(1px);
  }
  75% {
    transform: rotate(10deg) 
    translateY(-2px)
    translateX(2px);
  }
  100% {
    transform: rotate(0deg) 
    translateY(0px)
    translateX(0px);
  }
}
.square {
  position: relative;
  width: 10px;
  height: 10px;
  background: white;
  top: 0px;
  transform: rotate(45deg);
  animation: moveup 0.7s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}
.square1 {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  top: 0px;
  background: red;
}  
.box3 {
  display: flex;
  z-index: 1;
  margin: 5% 0 0 0;
  align-items: center;
  justify-content: center;
  padding: 0 15% 0 15%;
  height: 150px;
}
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.view1 {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 0px;
}
@keyframes translate {
  from {
    border-radius: 100%;
    width: 0;
    height: 0;
  }
  to{
    border-radius: 0%;
    width: 300px;
    height: 300px;
  }
}
@keyframes translate2 {
  0%{
    width: 0px;
  }
  100%{
    width: 600px;
  }
}
@keyframes slide2 {
  0%{
    visibility: hidden;
    right: 125px;
    width: 0;
    height: 0;
  }
  100%{
    visibility: visible;
    right: 0;
    width: 250px;
    height: 250px;
  }
}
@keyframes slide3 {
  0%{
    visibility: hidden;
    left: 125px;
    width: 0;
    height: 0;
  }
  100%{
    visibility: visible;
    left: 0;
    width: 250px;
    height: 250px;
  }
}
@keyframes shrink {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}
@keyframes bubble {
  0% {
    transform: scale(1,1);
  }
  25% {
    transform: scale(1.4,1.4);
  }
  50% {
    transform: scale(1.1,1.1);
  }
  75% {
    transform: scale(1.3,1.3);
  }
  100% {
    transform: scale(1.2,1.2);
  }
}
@keyframes rSelect {
  from{
    transform: scale(1.2,1.2);
  }
  to{
    transform: scale(1,1);
  }
}
.fill {
  position: relative;
  background: white;
  opacity: 50%;
  border-radius: 10%;
  width: 90%;
  height: 90%;
}
.fill1 {
  position: relative;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  border-radius: 100%;
  margin-left: -50px;
  margin-right: -50px;
  /*
  right: 0
  visibility: visible;
  width: 250px;
  height: 250px;
  */
  right: 125px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.fill2 {
  display: flex;
  position: relative;
  border: 1px solid white;
  box-shadow: 0 0 20px white;
  border-radius: 100%;
  margin-left: -50px;
  margin-right: -50px;
  /*
  left: 0px;
  visibility: visible;
  width: 250px;
  height: 250px;
  */
  left: 125px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.selection {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  border: 1px solid white;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px white;
}
.selection1 {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  width: 0px;
  height: 120px;
}
.icon {
  margin: 0px 0 0 0;
  position: relative;
  top: -15px;
  left: -5px;
}
.b {
  height: 50px;
  width: 90px;
  padding: 0px;
  background: #4fc1e9;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  color: white;  
}
.gButton {
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.0);
  padding: 11px 20px 11px 20px;
  font-size: 20px;    
  margin: 10px;
}
.sButton {
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.0);
  padding: 11px 20px 11px 20px;
  font-size: 20px;
  margin: 10px;
}
#quote {
  font-family: roboto;
  padding-left: 5px;
  color: white;
  border-left: 5px solid #3582d4;
  border-radius: 2px;
}
